The main goal of this notebook is to clean data from a dataset and present relevant metrics

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
air_df = pd.read_csv('23100006.csv')
air_df.head()

,REF_DATE,GEO,DGUID,Airports,Type of power plant,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1997-01,Canada,2016A000011124,"Total, all airports",Jet engines,Number,223,units,0,v32210997,1.1.1,85975,NaN,NaN,NaN,0
1,1997-01,Canada,2016A000011124,"Total, all airports",Turbo-propellers,Number,223,units,0,v32210998,1.1.2,62132,NaN,NaN,NaN,0
2,1997-01,Canada,2016A000011124,"Total, all airports",Piston engines,Number,223,units,0,v32210999,1.1.3,53244,NaN,NaN,NaN,0
3,1997-01,Canada,2016A000011124,"Total, all airports",Helicopters,Number,223,units,0,v32211000,1.1.4,10480,NaN,NaN,NaN,0
4,1997-01,Canada,2016A000011124,"Total, all airports",Gliders,Number,223,units,0,v32211001,1.1.5,33,NaN,NaN,NaN,0